
/*Setting fonts*/

body, html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
p {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
}

/*Styling the navbar*/
.top-nav {
	
	background-color: #fff;
	border: none;
}
.top-nav img {
	padding-top: 4px;
}

#myNavbar a {

	color: #0192d1;
	font-weight: bold;
}
#myNavbar a:hover {

	background-color: #af9560;
}

/*Styling the landing page*/

.landing-page {
	background: url("../images/intro-bg.jpg") no-repeat center center;
	background-size: cover;

}
.intro-header {
	background: url(../images/intro-bg.jpg) no-repeat center center;
	background-size: cover;
	padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 20%;
	text-align: center;
}
.intro-message > h2{
    margin: 0;
    font-size: 2em;
	color: #0192d1;
	text-shadow: 2px 2px 3px #000000;
	padding-bottom: 5%

}

.intro-message > h3{
    margin: 0;
	text-shadow: 2px 2px 3px #000000;
	letter-spacing: 1px;
    font-size: 1.5em;
	color: #ecf0f1;
	padding-bottom: 5%;

}

.intro-divider {
	width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.contact-us {
	margin-top: 5%;
}
.contact-us:hover{
	background-color: #0192d1;
}

.services-heading {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.services {
	padding-top: 25px;
	padding-bottom: 25px;
}



.service-summary {
	border-left: 4px solid #0192d1;
	height: 250px;
}

.readmore {
	position: absolute;
    bottom: 0;
	text-decoration: underline;
}

/*aboutus page*/
.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.section-heading {
  margin-bottom: 10px;
  font-size: 25px;
}




.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #af9560;
}

.content-section-a img {
	border-radius: 5px;
	padding-top: 10px;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.content-section-b img {
	border-radius: 5px;
	padding-top: 10px;
}

.content-section-ba {
	padding: 50px 0;
  	border-top: 1px solid #e7e7e7;
  	border-bottom: 1px solid #e7e7e7;
  	background-color: #f8f8f8;
}


footer {
  padding: 50px 0;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}

p.copyright {
  margin: 15px 0 0;
}

/*services page*/
.service-details {
	padding-top: 50px;
}

